.home {
  width: 100%;
  height: 100%;

  padding: 20px 20px;

  background-color: var(--red-color-app);
  display: flex;
  align-items: center;
}

.home__cards {
  width: 100%;
  height: 100%;

  background-color: var(--white-color-app);
  box-shadow: 8px 8px 4px var(--shadow-color-app);
  border-radius: 2px;
  padding: 20px 20px 20px 250px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  overflow: auto;
}

@media (max-width: 600px) {
  .home {
    padding: 95px 15px 0px;
  }

  .home__cards {
    padding: 15px 15px 0px;
  }
}
