/* 
  FONTES
*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,700);
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Genos:ital,wght@0,100..900;1,100..900&display=swap");

.font-genos {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-caesar-dressing-regular {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 
  Pré-Determinações && Variáveis
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --white-color-app: #ffffff;
  --black-color-app: #000000;
  --black-color-app-50: #00000050;
  --red-color-app: #e30606;
  --red-color-app-80: #e3060680;
  --red-color-app-strong: #ad0505;
  --shadow-color-app: rgba(0, 0, 0, 0.25);
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

/* 
  Scroll-Bar
*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--shadow-color-app);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--red-color-app);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--red-color-app-80);
}
